__pycache__/
maps/
*.pyc
.env/
.venv/
.idea/

*.log
chat.log
*.gitkeep
logs\*.log


*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/
env/
.itx/
.vscode/
.DS_Store
Thumbs.db
restart_ITXAPP.bat
test.ipynb
*.ipynb


*.xml
*.bak
*.zip


